<sb-layout-dashboard [static]="true">
    <!-- <<<<<<< HEAD

  <div class="card">
      <p-toolbar styleClass="p-mb-0">
         
          <div class="p-col-8"><h4>Quản lý nhóm quyền</h4></div>
          <div class="p-col-4">                    
                  <input style=" width: 300px; 
                  margin-right: 10px;
              
                  height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Nhập dữ liệu cần tìm..." />
                    
                               <button pButton pRipple label="Thêm mới" style="height: 37px" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
          </div>

      </p-toolbar>
          <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
              [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
           
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="name" style="text-align-last: center;">Mã nhóm quyền <p-sortIcon field="name"></p-sortIcon></th>                       
                      <th pSortableColumn="price"style="text-align-last: center;">Tên nhóm quyền <p-sortIcon field="price"></p-sortIcon></th>
                      <th pSortableColumn="price"style="text-align-last: center;">Tạo bởi <p-sortIcon field="price"></p-sortIcon></th>
                      <th pSortableColumn="category"style="text-align-last: center;">Trạng thái <p-sortIcon field="category"></p-sortIcon></th>

                      <th pSortableColumn="category"style="text-align-last: center;">Ngày tạo <p-sortIcon field="category"></p-sortIcon></th>
                      <th pSortableColumn="rating"style="text-align-last: center;">Thao tác <p-sortIcon field="rating"></p-sortIcon></th>
                     
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                  <tr>

                      <td style="text-align-last: center;">{{product.name}}</td>
                      <td style="text-align-last: center;">{{product.name}}</td>
                      <td style="text-align-last: center;">{{product.name}}</td>
                      <td style="text-align-last: center;">{{product.name}}</td>
                      <td style="text-align-last: center;">{{product.name}}</td>
                      <td style="text-align: center;">
                          <button pButton pRipple icon="pi pi-eye"  class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                  <div class="p-d-flex p-ai-center p-jc-between">
                      In total there are {{products ? products.length : 0 }} products.
                  </div>
              </ng-template>
          </p-table>
      </div>
      
      <p-dialog [(visible)]="productDialog" [style]="{width: '830px'}" header="Chi tiết người dùng"  [modal]="true" styleClass="p-fluid;">
       
          <ng-template pTemplate="content">
            <div class="p-field" style="margin-bottom: 30px; margin-top: 30px;">
                    <label for="name">Mã nhóm quyền</label>
                    <input style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 10px; " pInputText id="Id"  required autofocus  />           
                      </div>
                  <div class="p-field" style="margin-bottom: 30px;">
                      <label for="name">Tạo bởi</label>
                      <input style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; " pInputText id="Id"  required autofocus  />           
                      <label for="name" style="margin-left: 30px;">Trạng thái</label>
                      <input style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;"   pInputText id="Id"  required autofocus  />           
                    </div>
                    <div class="p-field">
                        <label for="name">Ngày tạo</label>
                        <input style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 61px; "   pInputText id="Id"  required autofocus  />           
                        <label for="name" style="margin-left: 30px;">Tên nhóm quyền</label>
                        <input style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;"  pInputText id="Id"  required autofocus  />           
                     
                      </div>
                         
                

          </ng-template>
          
          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>

          </ng-template>
      </p-dialog>
      
      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</sb-layout-dashboard>
======= -->
    <p-toast></p-toast>
    <p-toast position="bottom-right" key="br"></p-toast>
    <div class="card">
        <p-toolbar styleClass="p-mb-0">
            <div class="p-col-8">
                <h4>Quản lý nhóm quyền</h4>
            </div>
            <div class="p-col-4">
                <input
                    style="
                        width: 300px;
                        margin-right: 10px;

                        height: 35px;
                    "
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..."
                />

                <!-- <button pButton pRipple label="Thêm mới" style="height: 37px" icon="pi pi-plus"
                    class="p-button-success p-mr-2" (click)="openNew()"></button> -->

                <div *ngFor="let role_name of roleName">
                    <div *ngIf="role_name === 'Manage user' || role_name === 'Manage all'">
                        <!-- [disabled]="roleName.length==0||role_name !== 'Manage user'" -->
                        <button
                            pButton
                            pRipple
                            label="Thêm mới"
                            style="height: 37px"
                            icon="pi pi-plus"
                            class="p-button-success p-mr-2"
                            (click)="openNew()"
                        ></button>
                    </div>
                </div>
            </div>
        </p-toolbar>
        <p-table
            #dt
            [value]="Role"
            [rows]="10"
            [paginator]="true"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [(selection)]="selectedProducts"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="Id" style="text-align-last: center">
                        Mã nhóm quyền <p-sortIcon field="Id"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="Code" style="text-align-last: center">
                        Code<p-sortIcon field="Code"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="Name" style="text-align-last: center">
                        Tên nhóm quyền <p-sortIcon field="Name"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="IsActive" style="text-align-last: center">
                        Trạng thái <p-sortIcon field="IsActive"></p-sortIcon>
                    </th>
                    <th style="text-align-last: center">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-role>
                <tr>
                    <td style="text-align-last: center">{{ role.Id }}</td>
                    <td style="text-align-last: center">{{ role.Code }}</td>
                    <td style="text-align-last: center">{{ role.Name }}</td>
                    <td style="text-align-last: center">
                        {{ role.IsActive ? 'Active' : 'InActive' }}
                    </td>
                    <td style="text-align: center">
                        <!-- <button (click)="edit(role)" pButton pRipple icon="pi pi-eye"
                            class="p-button-rounded p-button-success p-mr-2"></button>
                        <button style="left: 10px;" (click)="delete(role)" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-mr-2"></button>
                    -->
                        <div *ngFor="let role_name of roleName">
                            <div *ngIf="role_name === 'Manage user' || role_name === 'Manage all'">
                                <!-- [disabled]="role_name === ''||role_name !== 'Manage user'||role_name === 'Manage master data'" -->
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-eye"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="edit(role)"
                                ></button>
                                <button
                                    style="left: 10px"
                                    (click)="delete(role)"
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-mr-2"
                                ></button>
                            </div>
                        </div>
                    </td>

                    <div *ngFor="let role_name of roleName">
                        <div *ngIf="role_name === 'Manage user' || role_name === 'Manage all'">
                            <!-- [disabled]="role_name === ''||role_name !== 'Manage user'||role_name === 'Manage master data'" -->
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                class="p-button-rounded p-button-success p-mr-2"
                                (click)="edit(role)"
                            ></button>
                            <button
                                [disabled]="role_name !== 'Manage user'"
                                style="left: 10px"
                                (click)="delete(role)"
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-mr-2"
                            ></button>
                        </div>
                    </div>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{ Role ? Role.length : 0 }} nhóm quyền.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog
        [(visible)]="editDialog"
        [style]="{ width: '500px' }"
        header="Cập nhật nhóm quyền"
        [modal]="true"
        styleClass="p-fluid;"
    >
        <ng-template pTemplate="content">
            <div class="p-field" style="margin-bottom: 18px">
                <label for="name">Code</label>
                <input
                    style="width: 200px; border-bottom-width: 1px; margin-left: 98px"
                    [(ngModel)]="role.Code"
                    pInputText
                    id="Id"
                    requiredautofocus
                />
            </div>
            <div style="margin-bottom: 18px">
                <label for="name" style="margin-left: 0px">Trạng thái</label>
                <select style="margin-left: 64px" [(ngModel)]="role.IsActive">
                    <option [value]="true">Active</option>
                    <option [value]="false">InActive</option>
                </select>
            </div>
            <div class="p-field">
                <label for="name">Tên nhóm quyền</label>
                <input
                    style="width: 248px; border-bottom-width: 1px; margin-left: 16px"
                    [(ngModel)]="role.Name"
                    pInputText
                    id="Id"
                    requiredautofocus
                />
            </div>
            <div class="p-field" style="margin-bottom: 30px; margin-top: 30px">
                <input
                    type="hidden"
                    style="width: 248px; border-bottom-width: 1px; margin-left: 10px"
                    [(ngModel)]="role.Id"
                    pInputText
                    id="Id"
                    requiredautofocus
                />
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancel"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
            ></button>
            <button
                pButton
                pRipple
                label="Save"
                icon="pi pi-check"
                class="p-button-text"
                (click)="save()"
            ></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '500px' }"></p-confirmDialog>
</sb-layout-dashboard>
<!-- >>>>>>> 3b594c34ac70d4aed2c093742680ed1dbcd7d756 -->
