@import 'styles/variables.scss';
body {
 // background-color: powderblue
}
.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
  color: #ffffff;

  background: #6190b6;
  border: 1px solid #6190b6;
}
.p-button.p-button-icon-only {
  width: 1.5rem;
  padding: 0.5rem 0;
}


.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 1.1rem;
}



@media screen and (max-width: 960px) {
  button {
      width: 100%;
      margin-bottom: .5rem;
  }
}

:host ::ng-deep {
  .p-toast-message-custom {
      background-color: #E1CFE7;
      border: solid #8A427A;
      border-width: 0 0 0 6px;
      color: #2c1e30;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}