<sb-layout-dashboard [static]="true">
    <div class="card">
        <p-table #dt [value]="Region" [rows]="10" [paginator]="true" [globalFilterFields]="['Id','Name','Status']" styleClass="p-datatable-gridlines"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="p-col-4">
                        <h3 class="p-m-0">Quản lý vùng miền</h3>
                    </div>
                    <div class="p-col-4" ></div>
                    <div class="p-col-4" >
                        <span class="p-input-icon-right">

                            <input style=" width: 402px;
                                    height: 35px " pInputText type="text"
                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                [(ngModel)]="searchValue"
                                placeholder="Nhập dữ liệu cần tìm..." />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="Id" style="text-align-last: center;">Mã vùng miền <p-sortIcon field="Id">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="Name" style="text-align-last: center;">Tên vùng miền <p-sortIcon field="Name">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="Status" style="text-align-last: center;">trạng thái <p-sortIcon field="Status">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-region searchFilter:searchValue>
                <tr>

                    <td style="text-align-last: center;">{{region.Code}}</td>
                    <td style="text-align-last: center;">{{region.Name}}</td>
                    <td style="text-align-last: center;">{{region.Status? "Active":"InActive"}}</td>

                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            (click)="edit(region)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có  {{Region ? Region.length : 0 }} khu vực.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="EditDialog" [style]="{width: '420px'}" header="Chi tiết vùng miền" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content" let region>

            <div class="p-field" style="margin-bottom: 15px;">
                <label for="Id">Mã vùng miền</label>
                <input style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;" type="boolean" pInputText
                    id="Id" [(ngModel)]="region.Code" required autofocus disabled />
            </div>
            <div class="p-field" style="margin-bottom: 15px;">
                <label for="Name">Tên vùng miền</label>
                <input style=" WIDTH: 248PX; border-bottom-width: 1px;  float: right;" type="boolean" pInputText
                    id="Name" [(ngModel)]="region.Name" required autofocus disabled />
            </div>

            <div class="p-field">
                <label for="Status">Trạng thái</label>
                <input style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;" type="boolean" pInputText
                    id="Status" [(ngModel)]="region.Status" required autofocus disabled />


                    
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</sb-layout-dashboard>
