<template>
    <v-card width="100%" style="padding: 20px">
        <v-layout row wrap>
            <v-layout row wrap>
                <v-flex xs12>
                    <h3>Danh sách khối học</h3>
                </v-flex>
                <v-flex xs12>
                    <v-layout norwap>
                        <v-flex xs6 md4>
                            <v-text-field label="Tìm kiếm"
                                          append-icon="search"
                                          placeholder="Tìm kiếm theo tên khối..."
                                          ma-0 pa-0 hide-details
                                          style="padding-top: 12px"
                                          v-model="searchParamsKhoiHoc.keywords"
                                          @input="getDataFromApi(searchParamsKhoiHoc)">

                            </v-text-field>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-btn small @click="showModalThemSua(false,{})" style="margin-top: auto" color="primary">+ Thêm mới</v-btn>
                    </v-layout>
                </v-flex>
                <v-flex xs12>
                    <v-data-table :headers="tableHeader"
                                  :items="dsKhoiHoc"
                                  @update:pagination="getDataFromApi" :pagination.sync="searchParamsKhoiHoc"
                                  :total-items="searchParamsKhoiHoc.totalItems"
                                  :loading="loadingTable"
                                  class="table-border table">
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-center">{{ props.index + 1 }}</td>
                            <td class="text-xs-center">{{ props.item.TenKhoi }}</td>
                            <td class="text-xs-center" style="width:150px;">
                                <v-btn flat icon small @click="showModalThemSua(true, props.item)" class="ma-0">
                                    <v-icon small>edit</v-icon>
                                </v-btn>
                                <v-btn flat color="red" icon small class="ma-0" @click="confirmDelete(props.item)">
                                    <v-icon small>delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
            <v-dialog v-model="dialogConfirmDelete" max-width="290">
                <v-card>
                    <v-card-title class="headline">Xác nhận xóa</v-card-title>
                    <v-card-text class="pt-3">Bạn có chắc chắn muốn xóa?</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="dialogConfirmDelete=false" flat>Hủy</v-btn>
                        <v-btn color="red darken-1" @click.native="deleteKhoiHoc" flat>Xác Nhận</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <them-sua-khoi-hoc ref="themSuaKhoiHoc" @getLaiDanhSach="getDataFromApi(searchParamsKhoiHoc)"></them-sua-khoi-hoc>
        </v-layout>
    </v-card>
</template>
<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import KhoiHocApi, { KhoiHocApiSearchParams } from '@/apiResources/KhoiHocApi';
    import { KhoiHoc } from '@/models/KhoiHoc';
    import ThemSuaKhoiHoc from './ThemSuaKhoiHoc.vue';
    export default Vue.extend({
        components: {
            ThemSuaKhoiHoc
        },
        data() {
            return {
                dsKhoiHoc: [] as KhoiHoc[],
                tableHeader: [
                    { text: 'STT', align: 'center', sortable: false },
                    { text: 'Tên khối', align: 'center', sortable: false }, 
                    { text: 'Thao tác', align: 'center', sortable: false },
                ],
                searchParamsKhoiHoc: { includeEntities: true, rowsPerPage: 10 } as KhoiHocApiSearchParams,
                loadingTable: false,
                selectedKhoiHoc: {} as KhoiHoc,
                dialogConfirmDelete: false,
            }
        },
        watch: {
        },
        created() {
            this.getDataFromApi(this.searchParamsKhoiHoc);
        },
        methods: {
            getDataFromApi(searchParamsKhoiHoc: KhoiHocApiSearchParams): void {
                this.loadingTable = true;
                KhoiHocApi.search(searchParamsKhoiHoc).then(res => {
                    this.dsKhoiHoc = res.Data;
                    this.searchParamsKhoiHoc.totalItems = res.Pagination.totalItems;
                    this.loadingTable = false;
                });
            },
            showModalThemSua(isUpdate: boolean, item: any) { // refs gọi từ cha -=> con 
               (this.$refs.themSuaKhoiHoc as any).show(isUpdate, item); // gọi đến hàm show bên modal con
            },
            confirmDelete(khoiHoc: KhoiHoc): void {
                this.selectedKhoiHoc = khoiHoc;
                this.dialogConfirmDelete = true;
            },
            deleteKhoiHoc(): void {
                KhoiHocApi.delete(this.selectedKhoiHoc.KhoiID).then(res => {
                    this.$snotify.success('Xóa thành công!');
                    this.getDataFromApi(this.searchParamsKhoiHoc);
                    this.dialogConfirmDelete = false;
                }).catch(res => {
                    this.$snotify.error('Xóa thất bại!');
                });
            },
        }
    });
</script>

