<template>
    <v-dialog v-model="dialog" width="300" persistent scrollable>
        <v-container pa-0 grid-list-md>
            <v-card>
                <v-card-title class="primary white--text" style="padding: 5px 15px 5px 15px">
                    <h3>{{isUpdate ? 'Cập nhật khối học' : 'Thêm mới khối học'}}</h3>
                    <v-spacer></v-spacer>
                    <v-btn class="white--text ma-0" small @click.native="dialog = false" icon dark><v-icon>close</v-icon></v-btn>
                </v-card-title>

                <v-card-text>
                    <v-form scope="frmAddEdit">
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-text-field v-model="khoiHoc.TenKhoi"
                                              label="Tên khối"
                                              type="text"
                                              :error-messages="errors.collect('Tên khối', 'frmAddEdit')"
                                              v-validate="'required'"
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Tên khối"
                                              clearable></v-text-field>
                                <v-spacer></v-spacer>
                            </v-flex>  
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary" :disabled="loading" :loading="loading" @click.native="save" small>{{isUpdate?'Cập nhật':'Thêm mới'}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </v-dialog>

</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator'; 
import { KhoiHoc } from '../../models/KhoiHoc';
import KhoiHocApi, { KhoiHocApiSearchParams } from '../../apiResources/KhoiHocApi';

    export default Vue.extend({
        $_veeValidate: {
            validator: 'new'
        },
        components: {},
        data() {
            return {
                dialog: false,
                isUpdate: false, 
                dsDatKhoiHocLoading: false,
                searchDatKhoiHoc: '', 
                loading: false,
                khoiHoc: {} as KhoiHoc,
                dsKhoiHoc: [] as KhoiHoc[],
                searchParamsKhoiHoc: { rowsPerPage: 0 } as KhoiHocApiSearchParams
            }
        },
        created() {
         },
        methods: {
            show(isUpdate: boolean, item: any) {
                this.$validator.errors.clear();
                this.khoiHoc = {} as KhoiHoc;
                this.dialog = true;
                this.isUpdate = isUpdate;
                if (isUpdate)
                    this.getDataFromApi(item.KhoiID);
            },
            getDataFromApi(id: number): void {
                KhoiHocApi.detail(id).then(res => {
                    this.khoiHoc = res;
                });
            }, 
            save(): void {
                this.$validator.validateAll('frmAddEdit').then((res) => {
                    if (res) { 
                         if (this.isUpdate) {
                            this.loading = true;
                            KhoiHocApi.update(this.khoiHoc.KhoiID, this.khoiHoc).then(res => {
                                this.loading = false;
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.$snotify.success('Cập nhật thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Cập nhật thất bại!');
                            });
                        } else {
                            this.loading = true;
                            KhoiHocApi.insert(this.khoiHoc).then(res => {
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.khoiHoc = res;
                                this.isUpdate = true;
                                this.loading = false;
                                this.$snotify.success('Thêm mới thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Thêm mới thất bại!');
                            });
                        }
                    }
                });
            }
        }
    });
</script>
<style scoped>
    .v-input--radio-group .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 0px!important;
    }
    .v-input--selection-controls {
        margin-top: 8px!important;
    }
    .v-text-field{
        padding-top: 4px;
    }
</style>