<template>
    <v-card width="100%" style="padding: 20px">
        <v-layout row wrap>
            <v-layout row wrap>
                <v-flex xs12>
                    <h3>Danh sách thiết bị</h3>
                </v-flex>
                <v-flex xs12>
                    <v-layout norwap>
                        <v-flex xs6 md4>
                            <v-text-field label="Tìm kiếm"
                                          append-icon="search"
                                          placeholder="Tìm kiếm theo tên thiết bị..."
                                          ma-0 pa-0 hide-details
                                          style="padding-top: 12px"
                                          v-model="searchParamsThietBi.keywords"
                                          @input="getDataFromApi(searchParamsThietBi)">

                            </v-text-field>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <!--<v-btn small @click="showModalThemSua(false,{})" style="margin-top: auto" color="primary">+ Thêm mới</v-btn>-->
                    </v-layout>
                </v-flex>
                <v-flex xs12>
                    <v-data-table :headers="tableHeader"
                                  :items="dsThietBi"
                                  @update:pagination="getDataFromApi" :pagination.sync="searchParamsThietBi"
                                  :total-items="searchParamsThietBi.totalItems"
                                  :loading="loadingTable"
                                  class="table-border table">
                        <template slot="items" slot-scope="props">
                            <td>{{ props.index + 1 }}</td>
                            <td>{{ props.item.MaThietBi }}</td>
                            <td>{{ props.item.TenThietBi }}</td>
                            <td>{{ props.item.SoHieuThietBi }}</td>
                            <td>{{ props.item.KhoPhong.TenKhoPhong }}</td>
                            <td>{{ props.item.SoLuong ? props.item.SoLuong : 0 }}</td>
                            <td>{{ props.item.SoHong ? props.item.SoHong : 0 }}</td>
                            <td>{{ props.item.SoMat ? props.item.SoMat : 0 }}</td>
                            <td>{{ props.item.DonViTinh }}</td>
                            <td> 
                                <span v-for="(i, index) in props.item.KhoPhong.GiaoVien" :key="index">
                                    {{i.TenDayDu}}
                                </span>
                            </td>
                            <td class="text-xs-center" style="width:80px;">
                                <v-btn flat icon small  class="ma-0" title="Điều chuyển thiết bị">
                                    <v-icon small>sync</v-icon>
                                </v-btn> 
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
            <v-dialog v-model="dialogConfirmDelete" max-width="290">
                <v-card>
                    <v-card-title class="headline">Xác nhận xóa</v-card-title>
                    <v-card-text class="pt-3">Bạn có chắc chắn muốn xóa?</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="dialogConfirmDelete=false" flat>Hủy</v-btn>
                        <v-btn color="red darken-1" @click.native="deleteThietBi" flat>Xác Nhận</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!--<them-sua-kho-phong ref="themSuaThietBi" @getLaiDanhSach="getDataFromApi(searchParamsThietBi)"></them-sua-kho-phong>-->
        </v-layout>
    </v-card>
</template>
<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import ThietBiApi, { ThietBiApiSearchParams } from '@/apiResources/ThietBiApi';
    import { ThietBi } from '@/models/ThietBi';
    //import ThemSuaThietBi from './ThemSuaThietBi.vue';
    export default Vue.extend({
        components: {
            //ThemSuaThietBi
        },
        data() {
            return {
                dsThietBi: [] as ThietBi[],
                tableHeader: [
                    { text: 'STT', align: 'center', sortable: false },
                    { text: 'Mã thiết bị', align: 'center', sortable: false },
                    { text: 'Tên thiết bị', align: 'center', sortable: false },
                    { text: 'Số hiệu', align: 'center', sortable: false },
                    { text: 'Kho phòng', align: 'center', sortable: false },
                    { text: 'Số lượng', align: 'center', sortable: false },
                    { text: 'Số hỏng', align: 'center', sortable: false },
                    { text: 'Số mất', align: 'center', sortable: false },
                    { text: 'Đơn vị tính', align: 'center', sortable: false }, 
                    { text: 'Cán bộ quản lý', align: 'center', sortable: false },
                    { text: 'Thao tác', align: 'center', sortable: false },
                ],
                searchParamsThietBi: { includeEntities: true, rowsPerPage: 10 } as ThietBiApiSearchParams,
                loadingTable: false,
                selectedThietBi: {} as ThietBi,
                dialogConfirmDelete: false,
            }
        },
        watch: {
        },
        created() {
            this.getDataFromApi(this.searchParamsThietBi);
        },
        methods: {
            getDataFromApi(searchParamsThietBi: ThietBiApiSearchParams): void {
                this.loadingTable = true;
                ThietBiApi.search(searchParamsThietBi).then(res => {
                    this.dsThietBi = res.Data;
                    this.searchParamsThietBi.totalItems = res.Pagination.totalItems;
                    this.loadingTable = false;
                });
            },
            showModalThemSua(isUpdate: boolean, item: any) { // refs gọi từ cha -=> con 
               //(this.$refs.themSuaThietBi as any).show(isUpdate, item); // gọi đến hàm show bên modal con
            },
            confirmDelete(thietBi: ThietBi): void {
                this.selectedThietBi = thietBi;
                this.dialogConfirmDelete = true;
            },
            deleteThietBi(): void {
                ThietBiApi.delete(this.selectedThietBi.ThietBiID).then(res => {
                    this.$snotify.success('Xóa thành công!');
                    this.getDataFromApi(this.searchParamsThietBi);
                    this.dialogConfirmDelete = false;
                }).catch(res => {
                    this.$snotify.error('Xóa thất bại!');
                });
            },
        }
    });
</script>

