<template>
    <v-dialog v-model="dialog" width="500" persistent scrollable>
        <v-container pa-0 grid-list-md>
            <v-card>
                <v-card-title class="primary white--text" style="padding: 5px 15px 5px 15px">
                    <h3>{{isUpdate ? 'Cập nhật kho phòng' : 'Thêm mới kho phòng'}}</h3>
                    <v-spacer></v-spacer>
                    <v-btn class="white--text ma-0" small @click.native="dialog = false" icon dark><v-icon>close</v-icon></v-btn>
                </v-card-title>

                <v-card-text>
                    <v-form scope="frmAddEdit">
                        <v-layout row wrap>
                            <v-flex xs6>
                                <v-text-field v-model="khoPhong.TenKhoPhong"
                                              label="Tên kho phòng"
                                              type="text"
                                              :error-messages="errors.collect('Tên kho phòng', 'frmAddEdit')"
                                              v-validate="'required'"
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Tên kho phòng"
                                              clearable></v-text-field>
                                <v-spacer></v-spacer>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field v-model="khoPhong.NamDuaVaoSuDung"
                                              label="Năm đưa vào sử dụng"
                                              type="number"
                                              :error-messages="errors.collect('Năm đưa vào sử dụng', 'frmAddEdit')"
                                              v-validate="''"
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Năm đưa vào sử dụng"
                                              clearable></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-autocomplete v-model="khoPhong.MonApDung"
                                                :items="dsMonHoc"
                                                item-text="TenMon"
                                                item-value="MonHocID"
                                                label="Môn học sử dụng"
                                                :error-messages="errors.collect('Môn học sử dụng', 'frmAddEdit')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEdit"
                                                data-vv-name="Môn học sử dụng" multiple
                                                required></v-autocomplete>
                            </v-flex>
                            <v-flex xs12>
                                <v-autocomplete v-model="khoPhong.GiaoVienID"
                                                :items="dsGiaoVien"
                                                item-text="TenDayDu"
                                                item-value="GiaoVienID"
                                                label="Cán bộ / giáo viên quản lý"
                                                :error-messages="errors.collect('Cán bộ / giáo viên quản lý', 'frmAddEdit')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEdit"
                                                data-vv-name="Cán bộ / giáo viên quản lý"
                                                required></v-autocomplete>
                            </v-flex>
                            <v-flex xs3>
                                <v-text-field v-model="khoPhong.DienTich"
                                              label="Diện tích"
                                              type="number"
                                              :error-messages="errors.collect('Diện tích', 'frmAddEdit')"
                                              v-validate="''" hide-details
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Diện tích"
                                              clearable></v-text-field>
                            </v-flex>
                            <v-flex xs9>
                                <v-text-field v-model="khoPhong.DiaChi"
                                              label="Địa chỉ"
                                              type="text"
                                              :error-messages="errors.collect('Địa chỉ', 'frmAddEdit')"
                                              v-validate="''" hide-details
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Địa chỉ"
                                              clearable></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <div style="display: flex">
                                    <div style="color: rgba(0,0,0,.54); font-size: 16px; padding: 12px 20px 0px 0px">Phân loại:</div>
                                    <v-radio-group v-model="khoPhong.PhanLoai" row hide-details style="padding-right: 15px">
                                        <v-radio label="Kho thiết bị" :value="1"></v-radio>
                                        <v-radio label="Phòng bộ môn" :value="2"></v-radio>
                                    </v-radio-group>
                                </div>
                            </v-flex>

                            <v-flex xs6>
                                <v-checkbox v-model="khoPhong.LaPhongChucNang" label="Là phòng chức năng"
                                            :error-messages="errors.collect('Là phòng chức năng', 'frmAddEdit')"
                                            v-validate="''" hide-details
                                            data-vv-scope="frmAddEdit"
                                            data-vv-name="Là phòng chức năng"></v-checkbox>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary" :disabled="loading" :loading="loading" @click.native="save" small>{{isUpdate?'Cập nhật':'Thêm mới'}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </v-dialog>

</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import KhoPhongApi, { KhoPhongApiSearchParams } from '@/apiResources/KhoPhongApi';
    import { KhoPhong } from '@/models/KhoPhong';
    import { LoaiThietBi } from '../../models/LoaiThietBi';
import { MonHoc } from '../../models/MonHoc';
import MonHocApi, { MonHocApiSearchParams } from '../../apiResources/MonHocApi'; 
import { GiaoVien } from '../../models/GiaoVien';
import GiaoVienApi, { GiaoVienApiSearchParams } from '../../apiResources/GiaoVienApi';
import { KhoPhongBoMon } from '../../models/KhoPhongBoMon';
import { debug } from 'util';

    export default Vue.extend({
        $_veeValidate: {
            validator: 'new'
        },
        components: {},
        data() {
            return {
                dialog: false,
                isUpdate: false,
                khoPhong: {} as KhoPhong,
                dsDatKhoPhongLoading: false,
                searchDatKhoPhong: '', 
                loading: false,
                dsMonHoc: [] as MonHoc[],
                dsGiaoVien: [] as GiaoVien[],
                searchParamsMonHoc: { rowsPerPage: 0 } as MonHocApiSearchParams, 
                searchParamsGiaoVien: { rowsPerPage: 0 } as GiaoVienApiSearchParams, 
                searchParamsKhoPhong: {} as KhoPhongApiSearchParams,
            }
        },
        created() {
            this.getDsMonHoc(this.searchParamsMonHoc);
            this.getDsGiaoVien(this.searchParamsGiaoVien);
        },
        methods: {
            show(isUpdate: boolean, item: any) {
                this.$validator.errors.clear();
                this.khoPhong = {} as KhoPhong;
                this.dialog = true;
                this.isUpdate = isUpdate;
                if (isUpdate)
                    this.getDataFromApi(item.KhoPhongID);
            },
            getDataFromApi(id: number): void {
                KhoPhongApi.detail(id).then(res => {
                    this.khoPhong = res;
                    this.khoPhong.MonApDung = (res as any).MonSuDung;
                });
            }, 
            getDsMonHoc(searchParamsMonHocApi: MonHocApiSearchParams): void {
                MonHocApi.search(searchParamsMonHocApi).then(res => {
                    this.dsMonHoc = res.Data;
                });
            },
            getDsGiaoVien(searchParamsGiaoVienApi: GiaoVienApiSearchParams): void {
                GiaoVienApi.search(searchParamsGiaoVienApi).then(res => {
                    this.dsGiaoVien = res.Data;
                });
            },
            updateGiaoVienQuanLy(khoPhongID?: number, giaoVienID?: number) { 
                var giaoVien = this.dsGiaoVien.find(x => x.GiaoVienID == giaoVienID) as GiaoVien;
                if (giaoVien) {
                    giaoVien.KhoPhongQuanLyID = khoPhongID;
                    GiaoVienApi.update(giaoVienID as any, giaoVien).then(res => { });
                }
            },
            save(): void {
                this.$validator.validateAll('frmAddEdit').then((res) => {
                    if (res) {
                        var giaoVienID = this.khoPhong.GiaoVienID;
                        this.khoPhong.KhoPhongBoMon = [] as KhoPhongBoMon[]
                        for (let i = 0; i < this.khoPhong.MonApDung.length; i++) {
                            var item = {} as KhoPhongBoMon;
                            item.KhoPhongID = this.khoPhong.KhoPhongID;
                            item.MonHocID = this.khoPhong.MonApDung[i] as any;
                            item.KhoPhong = undefined;
                            this.khoPhong.KhoPhongBoMon.push(item);
                        }
                         if (this.isUpdate) {
                            this.loading = true;
                            KhoPhongApi.update(this.khoPhong.KhoPhongID, this.khoPhong).then(res => {
                                this.loading = false;
                                this.dialog = false;
                                this.updateGiaoVienQuanLy(this.khoPhong.KhoPhongID, giaoVienID);
                                this.$emit("getLaiDanhSach");
                                this.$snotify.success('Cập nhật thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Cập nhật thất bại!');
                            });
                        } else {
                            this.loading = true;
                            KhoPhongApi.insert(this.khoPhong).then(res => {
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.khoPhong = res;
                                this.updateGiaoVienQuanLy(this.khoPhong.KhoPhongID, giaoVienID);
                                this.isUpdate = true;
                                this.loading = false;
                                this.$snotify.success('Thêm mới thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Thêm mới thất bại!');
                            });
                        }
                    }
                });
            }
        }
    });
</script>
<style scoped>
    .v-input--radio-group .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 0px!important;
    }
    .v-input--selection-controls {
        margin-top: 8px!important;
    }
    .v-text-field{
        padding-top: 4px;
    }
</style>