<sb-layout-dashboard [static]="true">
    <p-toast></p-toast>
    <p-toast position="bottom-right" key="br"></p-toast>
    <div class="card">
        <p-toolbar styleClass="p-mb-0">
            <div class="p-col-8">
                <h4>Danh sách người dùng</h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;
                
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    [(ngModel)]="searchValue" placeholder="Nhập dữ liệu cần tìm..." />
              
                <div style="float: right;" *ngFor="let role_name of roleName">
                    <div *ngIf="role_name === 'Manage user'||role_name === 'Manage all'">
                        <!-- [disabled]="roleName.length==0||role_name !== 'Manage user'" -->
                        <button  pButton pRipple
                        label="Thêm mới" style="height: 37px" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="openNew()"></button>
                    </div>     
                </div>
            </div>
        </p-toolbar>
        <p-table #dt [value]="User" [value]="Role" [rows]="10" [paginator]="true" styleClass="p-datatable-gridlines"
            [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedusers"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="FullName" style="text-align-last: center;">Tên <p-sortIcon field="FullName">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="Title" style="text-align-last: center;">Xưng danh <p-sortIcon field="Title">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="UserName" style="text-align-last: center;">Tên đăng nhập <p-sortIcon
                            field="UserName">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="Email" style="text-align-last: center;">Email <p-sortIcon field="Email">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="Mobile" style="text-align-last: center;">Số điện thoại <p-sortIcon
                            field="Mobile"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Status" style="text-align-last: center;">Trạng thái <p-sortIcon field="Status">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user searchFilter:searchValue>
                <tr>

                    <td style="text-align-last: center;">{{user.FullName}}</td>
                    <td style="text-align-last: center;">{{user.Title}}</td>
                    <td style="text-align-last: center;">{{user.UserName}}</td>
                    <td style="text-align-last: center;">{{user.Email}}</td>
                    <td style="text-align-last: center;">{{user.Mobile}}</td>
                    <td style="text-align-last: center;">{{user.Status?"Active":"InActive"}}</td>
                    <td style="text-align: center;">
                        <div *ngFor="let role_name of roleName">
                            <div *ngIf="role_name === 'Manage user'||role_name === 'Manage all'">
                                <!-- [disabled]="role_name === ''||role_name !== 'Manage user'||role_name === 'Manage master data'" -->
                                <button
                                    pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                                    (click)="edit(user);getAllRole()">
                                </button>
                                <button style="left: 10px;"
                                    (click)="delete(user)" pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-mr-2"></button>
                            </div>

                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{User ? User.length : 0 }} người dùng.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="EditDialog" [style]="{width: '750px'}" header="Chi tiết người dùng" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-2">
                    <label for="name">Trạng thái</label>
                </div>
                <div class="col-md-4">
                    <select style="    margin-left: 0px;
                    width: 212px;
                    height: 31px;" [(ngModel)]="user.Status">
                        <option [value]="true">
                            Active
                        </option>
                        <option [value]="false">
                            InActive
                        </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="name">Họ tên</label>
                </div>

                <div class="col-md-4">
                    <input style="width: 100%;" type="text" pInputText id="name" [(ngModel)]="user.FullName" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !user.FullName">Name is required.</small>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-2">
                    <label for="name">Xưng danh</label>
                </div>
                <div class="col-md-4">
                    <input style="width: 100%;" type="text" pInputText id="Title" [(ngModel)]="user.Title" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !user.Title">Name is required.</small>
                </div>
                <div class="col-md-2">
                    <label for="name">UserName</label>
                </div>
                <div class="col-md-4">
                    <input style="width: 100%;" type="text" pInputText id="UserName" [(ngModel)]="user.UserName"
                        required autofocus />
                    <small class="p-error" *ngIf="submitted && !user.UserName">Name is required.</small>
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-2"> <label for="name">Email</label></div>
                <div class="col-md-4">
                    <input style="width: 100%;" type="text" pInputText id="Email" [(ngModel)]="user.Email" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !user.Email">Name is required.</small>
                </div>
                <div class="col-md-2">
                    <label for="name">Số điện thoại</label>
                </div>
                <div class="col-md-4">
                    <input style="width: 100%;" type="text" pInputText id="Mobile" [(ngModel)]="user.Mobile" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !user.Mobile">Name is required.</small>

                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
             
                <div class="col-md-2">
                    <label for="name">Mật khẩu</label>
                </div>
                <div class="col-md-4">
                    <input style="width: 100%;" type="text" pInputText id="PassWord" [(ngModel)]="user.PassWord" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !user.PassWord">Name is required.</small>
    
                </div>
            </div>
          

            <div class="row">

                <div class="col-md-2"> <label for="name"> Quyền</label></div>

                <div class="col-md-10">
                    <div class="row" *ngFor="let role of Role">
                        <input style="    margin-top: 8px;
                        margin-right: 10px;" type="checkbox" name="{{role.Id}}" [value]="role.Id"
                            (change)="getRoleId($event,role.Id)" />{{role.Code}} [{{role.Name}}]
                    </div>
                </div>
            </div>
            <!-- <div class="p-field">
                    <label for="name">Số điện thoại</label>
                <input type="text" pInputText id="name" [(ngModel)]="user.Mobile" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.name">Name is required.</small>
            </div>
            <div class="p-field">
                <label for="name">Trạng thái</label>
                <input type="text" pInputText [(ngModel)]="user.Status" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.name">Name is required.</small>
            </div> -->
            <!-- <div class="p-field"> -->
            <!-- <label for="name">Nhóm quyền</label>
                <input type="text" pInputText id="name" [(ngModel)]="user.UserRole[0].Role.Name" required autofocus /> -->

            <!-- <select [(ngModel)]="roleSelected">
                    <option *ngFor="let x of Role" [value]="x.Name">
                        {{x.Name}}
                    </option>
                </select> -->



            <!-- <p-autoComplete [(ngModel)]="user.UserRole[0].Role.Name" [suggestions]="results" (completeMethod)="search($event)"
                    [multiple]="true">
                    <ng-template let-value pTemplate="selectedItem">
                        <span style="font-size:18px">{{role.Name}}</span>
                    </ng-template>
                </p-autoComplete> -->
            <!-- </div> -->
            <!-- >>>>>>> 3b594c34ac70d4aed2c093742680ed1dbcd7d756 -->

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '750px'}"></p-confirmDialog>
</sb-layout-dashboard>