<template>
    <v-dialog v-model="dialog" fullscreen
              hide-overlay
              transition="dialog-bottom-transition"
              scrollable>
        <v-card tile>
            <v-toolbar card dark color="primary" dense>
                <v-btn icon dark @click="dialog = false" style="margin-left: 8px">
                    <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>{{isUpdate ? 'Cập nhật phiếu ghi tăng' : 'Thêm mới phiếu ghi tăng'}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn dark flat @click="save">Lưu</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-form scope="frmAddEdit">
                            <v-layout row wrap>
                                <v-flex xs2 class="pr-3 mt-2">
                                    <v-text-field v-model="phieuGhiTang.MaPhieu"
                                                  label="Mã phiếu"
                                                  placeholder="Nhập mã phiếu"
                                                  type="text"
                                                  :error-messages="errors.collect('Mã phiếu', 'frmAddEdit')"
                                                  v-validate="'required'"
                                                  data-vv-scope="frmAddEdit"
                                                  data-vv-name="Mã phiếu"
                                                  clearable></v-text-field>
                                </v-flex>
                                <v-flex xs2 class="pr-3">
                                    <v-datepicker v-model="phieuGhiTang.NgayLapPhieu"
                                                  label="Ngày lập"
                                                  type="text"
                                                  :error-messages="errors.collect('Ngày lập', 'frmAddEdit')"
                                                  v-validate="'required'"
                                                  data-vv-scope="frmAddEdit"
                                                  data-vv-name="Ngày lập"></v-datepicker>
                                </v-flex>
                                <v-flex xs2 class="pr-3 mt-2">
                                    <v-text-field v-model="phieuGhiTang.ChungTuLienQuan"
                                                  label="Chứng từ liên quan"
                                                  type="text"
                                                  placeholder="Nhập mã chứng từ liên quan"
                                                  :error-messages="errors.collect('Chứng từ liên quan', 'frmAddEdit')"
                                                  v-validate="''"
                                                  data-vv-scope="frmAddEdit"
                                                  data-vv-name="Chứng từ liên quan"
                                                  clearable></v-text-field>
                                </v-flex>
                                <v-flex xs2 class="pr-3 mt-2">
                                    <v-autocomplete v-model="phieuGhiTang.NguoiLapPhieuID"
                                                    :items="dsGiaoVien"
                                                    item-text="TenDayDu"
                                                    placeholder="Chọn người lập phiếu"
                                                    item-value="GiaoVienID"
                                                    label="Người lập phiếu"
                                                    :error-messages="errors.collect('Người lập phiếu', 'frmAddEdit')"
                                                    v-validate="''"
                                                    data-vv-scope="frmAddEdit"
                                                    data-vv-name="Người lập phiếu"
                                                    required></v-autocomplete>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field v-model="phieuGhiTang.GhiChu"
                                                  label="Ghi chú"
                                                  type="text" placeholder="Nhập nội dung phiếu"
                                                  :error-messages="errors.collect('Ghi chú', 'frmAddEdit')"
                                                  v-validate="''"
                                                  data-vv-scope="frmAddEdit"
                                                  data-vv-name="Ghi chú"
                                                  clearable></v-text-field>
                                    <v-spacer></v-spacer>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-flex>
                    <v-flex xs12>
                        <h3 class="mb-3">Chi thiết ghi tăng</h3>
                        <v-layout row wrap>
                            <v-flex xs2 class="mb-3 pr-3">
                                <v-autocomplete v-model="chiTietPhieu.MaThietBi"
                                                :items="dsThietBi"
                                                item-text="MaThietBi"
                                                item-value="MaThietBi"
                                                label="Mã thiết bị"
                                                placeholder="Chọn thiết bị"
                                                :error-messages="errors.collect('Mã thiết bị', 'frmAddEditDetail')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEditDetail"
                                                @change="anHienSoHieu(chiTietPhieu.MaThietBi)"
                                                data-vv-name="Mã thiết bị">
                                    <template slot="item" slot-scope="data">
                                        <div style="display: flex">
                                            <div style="width: 75px">{{ data.item.MaThietBi }}</div>
                                            <div style="width: 100px">{{ data.item.TenThietBi }}</div>
                                            <div style="width: 75px">{{ data.item.TenLoaiThietBi }}</div>
                                        </div>
                                    </template>
                                </v-autocomplete>
                            </v-flex>
                            <v-flex xs1 class="mb-3 pr-3">
                                <v-text-field v-model="chiTietPhieu.SoLo"
                                              label="Số lô"
                                              placeholder=""></v-text-field>
                            </v-flex>
                            <v-flex xs2 class="mb-3 pr-3">
                                <v-autocomplete v-model="chiTietPhieu.KhoPhongID"
                                                :items="dsKhoPhong"
                                                item-text="TenKhoPhong"
                                                item-value="KhoPhongID"
                                                label="Kho phòng"
                                                placeholder="Chọn kho phòng"
                                                :error-messages="errors.collect('Kho phòng', 'frmAddEditDetail')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEditDetail"
                                                data-vv-name="Kho phòng">
                                </v-autocomplete>
                            </v-flex>
                            <v-flex xs1 class="mb-3 pr-3">
                                <v-text-field v-model="chiTietPhieu.SoLuong" type="number"
                                              min="1"
                                              label="Số lượng"
                                              placeholder=""
                                              :error-messages="errors.collect('Số lượng', 'frmAddEditDetail')"
                                              v-validate="'required'"
                                              data-vv-scope="frmAddEditDetail"
                                              data-vv-name="Số lượng"></v-text-field>
                            </v-flex>
                            <v-flex xs1 class="mb-3 pr-3">
                                <v-text-field v-model="chiTietPhieu.DonGia"
                                              type="number" min="0"
                                              label="Đơn giá"
                                              placeholder=""
                                              :error-messages="errors.collect('Đơn giá', 'frmAddEditDetail')"
                                              v-validate="'required'"
                                              data-vv-scope="frmAddEditDetail"
                                              data-vv-name="Đơn giá"></v-text-field>
                            </v-flex>
                            <v-flex xs1 class="mb-3 pr-3">
                                <v-text-field v-model="chiTietPhieu.SoHieuTu" type="text" 
                                              label="Số hiệu từ"
                                              value="" v-show="laQuanLyChiTiet"
                                              placeholder=""
                                              :error-messages="errors.collect('Số hiệu từ', 'frmAddEditDetail')"
                                              v-validate="''"
                                              data-vv-scope="frmAddEditDetail"
                                              data-vv-name="Số hiệu từ"></v-text-field>
                            </v-flex>
                            <v-flex xs1 class="mb-3 pr-3">
                                <v-text-field v-model="chiTietPhieu.SoHieuDen" type="text" 
                                              label="Số hiệu đến"
                                              placeholder=""
                                              value="" v-show="laQuanLyChiTiet"
                                              :error-messages="errors.collect('Số hiệu đến', 'frmAddEditDetail')"
                                              v-validate="''"
                                              data-vv-scope="frmAddEditDetail"
                                              data-vv-name="Số hiệu đến"></v-text-field>
                            </v-flex>
                            <v-spacer></v-spacer>
                            <v-btn small class="ma-0" @click="themSuaChiTiet()">+ {{isEditDetail == true? "Cập nhật" : "Thêm mới"}}</v-btn>
                        </v-layout>
                    </v-flex>
                    <v-flex xs12>
                        <v-data-table :headers="tableHeader"
                                      :items="dsChiTietPhieu"
                                      :loading="loadingTable"
                                      class="table-border table">
                            <template slot="items" slot-scope="props">
                                <td>{{ props.index + 1 }}</td>
                                <td>{{ props.item.MaThietBi }}</td>
                                <td>{{ props.item.TenThietBi }}</td>
                                <td>{{ props.item.SoLo }}</td>
                                <td>{{ props.item.SoHieuTu }}</td>
                                <td>{{ props.item.SoHieuDen }}</td>
                                <td>{{ props.item.TenLoaiThietBi }}</td>
                                <td>{{ props.item.DonViTinh }}</td>
                                <td>{{ props.item.SoLuong }}</td>
                                <td>{{ props.item.DonGia }}</td>
                                <td>{{ props.item.ThanhTien}}</td>
                                <td class="text-xs-center" style="width:80px;">
                                    <v-btn flat icon small @click="suaChiTietPhieu(props.item)" class="ma-0">
                                        <v-icon small>edit</v-icon>
                                    </v-btn>
                                    <v-btn flat color="red" icon small class="ma-0" @click="xoaChiTietPhieu(props.item)">
                                        <v-icon small>delete</v-icon>
                                    </v-btn>
                                </td>
                            </template>
                        </v-data-table>
                    </v-flex>

                </v-layout>
            </v-card-text>
            <div style="flex: 1 1 auto;"></div>
        </v-card>
    </v-dialog>

</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import PhieuGhiTangApi, { PhieuGhiTangApiSearchParams } from '@/apiResources/PhieuGhiTangApi';
    import { PhieuGhiTang } from '@/models/PhieuGhiTang';
    import { GiaoVien } from '../../models/GiaoVien';
    import GiaoVienApi, { GiaoVienApiSearchParams } from '../../apiResources/GiaoVienApi';
    import { DanhMucThietBi } from '../../models/DanhMucThietBi';
    import DanhMucThietBiApi, { DanhMucThietBiApiSearchParams } from '../../apiResources/DanhMucThietBiApi';
    import { debug } from 'util';
import { KhoPhong } from '../../models/KhoPhong';
    import KhoPhongApi, {KhoPhongApiSearchParams } from '../../apiResources/KhoPhongApi';
import { stringify } from 'querystring';

    export default Vue.extend({
        $_veeValidate: {
            validator: 'new'
        },
        components: {},
        data() {
            return {
                dialog: false,
                isUpdate: false,
                phieuGhiTang: {} as PhieuGhiTang,
                chiTietPhieu: { SoHieuTu: '', SoHieuDen: ''} as any,
                dsDatPhieuGhiTangLoading: false,
                searchDatPhieuGhiTang: '',
                loading: false,
                dsThietBi: [] as DanhMucThietBi[],
                dsGiaoVien: [] as GiaoVien[],
                dsKhoPhong: [] as KhoPhong[],
                dsChiTietPhieu: [] as any,
                searchParamsDanhMucThietBi: { rowsPerPage: 0 } as DanhMucThietBiApiSearchParams,
                searchParamsGiaoVien: { rowsPerPage: 0 } as GiaoVienApiSearchParams,
                searchParamsPhieuGhiTang: { rowsPerPage: 0 } as PhieuGhiTangApiSearchParams,
                searchParamsKhoPhong: { rowsPerPage: 0 } as KhoPhongApiSearchParams,
                tableHeader: [
                    { text: 'STT', align: 'center', sortable: false },
                    { text: 'Mã thiết bị', align: 'center', sortable: false },
                    { text: 'Tên thiết bị', align: 'center', sortable: false },
                    { text: 'Số lô', align: 'center', sortable: false },
                    { text: 'Số hiệu từ', align: 'center', sortable: false },
                    { text: 'Số hiệu đến', align: 'center', sortable: false },
                    { text: 'Loại', align: 'center', sortable: false },
                    { text: 'Đơn vị tính', align: 'center', sortable: false },
                    { text: 'Số lượng', align: 'center', sortable: false },
                    { text: 'Đơn giá', align: 'center', sortable: false },
                    { text: 'Thành tiền', align: 'center', sortable: false },
                    { text: 'Thao tác', align: 'center', sortable: false },
                ],
                loadingTable: false,
                isEditDetail: false,
                laQuanLyChiTiet: false
            }
        },
        created() {
            this.getDsDanhMucThietBi(this.searchParamsDanhMucThietBi);
            this.getDsKhoPhong(this.searchParamsKhoPhong);
            this.getDsGiaoVien(this.searchParamsGiaoVien);
        },
        methods: {
            show(isUpdate: boolean, item: any) { 
                this.$validator.errors.clear();
                this.phieuGhiTang = {} as PhieuGhiTang;
                this.dsChiTietPhieu = [] as any;
                this.dialog = true;
                this.isUpdate = isUpdate;
                if (isUpdate)
                    this.getDataFromApi(item.PhieuGhiTangID);
            },
            getDataFromApi(id: number): void {
                PhieuGhiTangApi.detail(id).then(res => {
                    this.phieuGhiTang = res;
                    this.dsChiTietPhieu = res.ChiTietPhieu ? JSON.parse(res.ChiTietPhieu) : [] as any;
                });
            },
            getDsDanhMucThietBi(searchParamsDanhMucThietBi: DanhMucThietBiApiSearchParams): void {
                DanhMucThietBiApi.search(searchParamsDanhMucThietBi).then(res => {
                    this.dsThietBi.push({
                        header: "Mã phiếu -- Tên thiết bị ----- Loại"
                    } as any);
                    this.dsThietBi.push({
                        divider: true
                    } as any);
                    this.dsThietBi.push(...res.Data);
                });
            },
            getDsGiaoVien(searchParamsGiaoVien: GiaoVienApiSearchParams): void {
                GiaoVienApi.search(searchParamsGiaoVien).then(res => {
                    this.dsGiaoVien = res.Data;
                });
            },
            getDsKhoPhong(searchParamsKhoPhong: KhoPhongApiSearchParams): void {
                KhoPhongApi.search(searchParamsKhoPhong).then(res => {
                    this.dsKhoPhong = res.Data;
                });
            },
            themSuaChiTiet() {  
                this.$validator.validateAll('frmAddEditDetail').then((res) => {
                    if (res) {
                        this.chiTietPhieu.SoHieu = this.chiTietPhieu.SoHieuTu;
                        if (this.chiTietPhieu.MaThietBi) {
                            for (let i = 0; i < this.dsThietBi.length; i++) {
                                if (this.dsThietBi[i].MaThietBi == this.chiTietPhieu.MaThietBi) {
                                    this.chiTietPhieu.TenThietBi = this.dsThietBi[i].TenThietBi;
                                    this.chiTietPhieu.KhoiApDung = this.dsThietBi[i].KhoiApDung;
                                    this.chiTietPhieu.MonApDung = this.dsThietBi[i].MonApDung;
                                    this.chiTietPhieu.DanhMucThietBiID = this.dsThietBi[i].DanhMucThietBiID;
                                    this.chiTietPhieu.LaQuanLyChiTiet = this.dsThietBi[i].LaQuanLyChiTiet;
                                    this.chiTietPhieu.TenLoaiThietBi = (this.dsThietBi[i] as any).TenLoaiThietBi;
                                    this.chiTietPhieu.DonViTinh = this.dsThietBi[i].DonViTinh; 
                                    break;
                                }
                            }
                        }
                        if (this.chiTietPhieu.SoLuong && this.chiTietPhieu.DonGia) {
                            this.chiTietPhieu.ThanhTien = this.chiTietPhieu.SoLuong * this.chiTietPhieu.DonGia;
                        }

                        if (this.isEditDetail == false) {
                            var count = 0;
                            for (let i = 0; i < this.dsChiTietPhieu.length; i++) {
                                if (this.dsChiTietPhieu[i].MaThietBi == this.chiTietPhieu.MaThietBi
                                    && this.dsChiTietPhieu[i].SoLo == this.chiTietPhieu.SoLo
                                    && this.dsChiTietPhieu[i].KhoPhongID == this.chiTietPhieu.KhoPhongID) {
                                    count++;
                                    this.$snotify.warning('Thiết bị nhập vào kho này đã tồn tại trong phiếu. Vui lòng kiểm tra lại!');
                                    break;
                                }
                            }
                            if (count == 0) {
                                this.dsChiTietPhieu.push(this.chiTietPhieu);
                                this.chiTietPhieu = {SoHieuTu: '', SoHieuDen: ''} as any;
                            }
                        }
                        else {
                            for (let i = 0; i < this.dsChiTietPhieu.length; i++) {
                                if (this.dsChiTietPhieu[i].MaThietBi == this.chiTietPhieu.MaThietBi) {
                                    this.dsChiTietPhieu[i].SoLo = this.chiTietPhieu.SoLo;
                                    this.dsChiTietPhieu[i].TenThietBi = this.chiTietPhieu.TenThietBi;
                                    this.dsChiTietPhieu[i].KhoiApDung = this.chiTietPhieu.KhoiApDung;
                                    this.dsChiTietPhieu[i].MonApDung = this.chiTietPhieu.MonApDung;
                                    this.dsChiTietPhieu[i].LaQuanLyChiTiet = this.chiTietPhieu.LaQuanLyChiTiet;
                                    this.dsChiTietPhieu[i].DanhMucThietBiID = this.chiTietPhieu.DanhMucThietBiID;
                                    this.dsChiTietPhieu[i].SoHieuTu = this.chiTietPhieu.SoHieuTu;
                                    this.dsChiTietPhieu[i].SoHieuDen = this.chiTietPhieu.SoHieuDen;
                                    this.dsChiTietPhieu[i].SoHieu = this.chiTietPhieu.SoHieuTu;
                                    this.dsChiTietPhieu[i].DonGia = this.chiTietPhieu.DonGia;
                                    this.dsChiTietPhieu[i].SoLuong = this.chiTietPhieu.SoLuong;
                                    this.dsChiTietPhieu[i].ThanhTien = this.chiTietPhieu.ThanhTien;
                                    break;
                                }
                            }
                            this.chiTietPhieu = { SoHieuTu: '', SoHieuDen: '' } as any;
                        }

                        this.isEditDetail = false;
                    }
                });
            },
            suaChiTietPhieu(item: any) {
                this.isEditDetail = true;
                this.chiTietPhieu = Object.assign({}, item); 
            },
            xoaChiTietPhieu(item: any) {
                var index = this.dsChiTietPhieu.indexOf(item);
                if (index !== -1) {
                    this.dsChiTietPhieu.splice(index, 1);
                }
            },
            anHienSoHieu(maThietBi: any) {
                var item = this.dsThietBi.find(x => x.MaThietBi == maThietBi);
                if (item != null) {
                    if (item.LaQuanLyChiTiet == true)
                        this.laQuanLyChiTiet = true;
                    else
                        this.laQuanLyChiTiet = false;
                }
            },
            save(): void { 
                this.$validator.validateAll('frmAddEdit').then((res) => {
                    if (res) {
                        this.phieuGhiTang.ChiTietPhieu = JSON.stringify(this.dsChiTietPhieu); 
                        if (this.isUpdate) {
                            this.loading = true;
                            PhieuGhiTangApi.update(this.phieuGhiTang.PhieuGhiTangID, this.phieuGhiTang).then(res => {
                                this.loading = false;
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.$snotify.success('Cập nhật thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Cập nhật thất bại!');
                            });
                        } else {
                            this.loading = true;
                            PhieuGhiTangApi.insert(this.phieuGhiTang).then(res => {
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.phieuGhiTang = res;
                                this.isUpdate = true;
                                this.loading = false;
                                this.$snotify.success('Thêm mới thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Thêm mới thất bại!');
                            });
                        }
                    }
                });
            },
        }
    });
</script>
<style scoped>
    .v-input--radio-group .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 0px !important;
    }

    .v-input--selection-controls {
        margin-top: 8px !important;
    }

    .v-text-field {
        padding-top: 4px;
    }
</style>