<sb-layout-dashboard [static]="true">
    <div class="row">
        <div class="col-md-4" style="margin-top: 5px;">
            <span class="p-input-icon-right">
                <input style=" width: 402px;
                            height: 35px " pInputText type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="searchValue"
                    placeholder="Nhập dữ liệu cần tìm..." />
            </span>
        </div>
        <div class="col-md-4" style="margin-top: 5px; padding-right: 0px;">
            <input class="form-control" type="file" #fileInput />
        </div>
        <div class="col-md-1" style="margin-top: 5px; padding-left: 0px;">
            <button style="height: 38px;" class="btn btn-primary" (click)="uploadFile();">Upload</button>
        </div>
    </div>
    <div>
        <h4 class="alert-success">{{message}}</h4>
    </div>
    <br>
    <div *ngFor="let ver of versions">
        <!-- *ngFor="let bc of F_CSKH05S[ver-1]| slice:0:1; let i=index" *ngIf="i<2" header="Version #{{ver}}&nbsp;&nbsp;Upload bởi: {{bc.CreateUser}}&nbsp;
            Thời điểm upload:{{bc.UpdateDate|date:'short'}}&nbsp;[{{countRecords}} bản ghi] " -->
        <p-panel header="Version #{{ver}}" [toggleable]="true">
            <a *ngFor="let bc of F_CSKH05S[ver-1]| slice:0:1; let i=index" class="accordion-toggle"
                style="color: black;">
                <span  _ngcontent-wsb-c54="" style="font-weight: 300; margin-right: 50px;">Version #{{ver}}</span>
                <span *ngIf="i<2" _ngcontent-wsb-c54="" style="margin-right: 50px;font-weight: 300;">Upload bởi:{{bc.CreateUser}}</span>
                <span *ngIf="i<2"_ngcontent-wsb-c54="" style="margin-right: 50px;font-weight: 300;">Thời điểm upload:{{bc.UpdateDate|date:'short'}}</span>
                <span *ngIf="i<2" _ngcontent-wsb-c54="" style="margin-right: 50px;font-weight: 300;">[{{countRecords}} Bản ghi]</span>
            </a>
            <ng-template pTemplate="icons">
                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
            </ng-template>
            <p-table #dt [value]="F_CSKH05S[ver-1]" [rows]="10" [paginator]="true"
                [globalFilterFields]="['CompanyCode','MAKY','TRONGSO']" styleClass="p-datatable-gridlines"
                [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Id" style="text-align-last: center;">Id <p-sortIcon field="Id">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="CompanyCode" style="text-align-last: center;"> Mã công ty <p-sortIcon
                                field="CompanyCode">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="MAKY" style="text-align-last: center;">Mã kỳ <p-sortIcon field="MAKY">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="CHITIEUD" style="text-align-last: center;">Chỉ tiêu <p-sortIcon
                                field="CHITIEUD">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="TUONGQUAN" style="text-align-last: center;">Tương quan<p-sortIcon
                                field="TUONGQUAN">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="TRONGSO" style="text-align-last: center;">Trọng số<p-sortIcon
                                field="TRONGSO">
                            </p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-f_CSKH05S searchFilter:searchValue>
                    <tr>
                        <td style="text-align-last: center;">{{f_CSKH05S?.Id}}</td>
                        <td style="text-align-last: center;">{{f_CSKH05S?.CompanyCode}}</td>
                        <td style="text-align-last: center;">{{f_CSKH05S?.MAKY}}</td>
                        <td style="text-align-last: center;">{{f_CSKH05S?.CHITIEUD}}</td>
                        <td style="text-align-last: center;">{{f_CSKH05S?.TUONGQUAN}}</td>
                        <td style="text-align-last: center;">{{f_CSKH05S?.TRONGSO}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
</sb-layout-dashboard>