// Dark theme for sidenav
// Append .sb-sidenav-dark to .sb-sidenav to use

.sb-sidenav-dark {
  background-color: $sidenav-dark-bg;
  color: $sidenav-dark-color;
  .sb-sidenav-menu {
    .sb-sidenav-menu-heading {
      color: $sidenav-dark-heading-color;
    }
    .nav-link {
      color: $sidenav-dark-link-color;
      .sb-nav-link-icon {
        color: $sidenav-dark-icon-color;
      }
      .sb-sidenav-collapse-arrow {
        color: $sidenav-dark-icon-color;
      }
      &:hover {
        color: $sidenav-dark-link-active-color;
      }
      &.active {
        color: $sidenav-dark-link-active-color;
        .sb-nav-link-icon {
          color: $sidenav-dark-link-active-color;
        }
      }
    }
  }
  .sb-sidenav-footer {
    background-color: $sidenav-dark-footer-bg;
  }
}
.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
  background-color: #6190b6;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: #f8f9fa;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 0.7rem 1rem;
}