<template>
    <v-card width="100%" style="padding: 20px">
        <v-layout row wrap>
            <v-layout row wrap>
                <v-flex xs12>
                    <h3>Danh mục thiết bị</h3>
                </v-flex>
                <v-flex xs12>
                    <v-layout norwap>
                        <v-flex xs6 md4>
                            <v-text-field label="Tìm kiếm"
                                          append-icon="search"
                                          placeholder="Tìm kiếm theo tên, mã..."
                                          ma-0 pa-0 hide-details
                                          style="padding-top: 12px"
                                          v-model="searchParamsDanhMucThietBi.keywords"
                                          @input="getDataFromApi(searchParamsDanhMucThietBi)">

                            </v-text-field>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-btn small @click="showModalThemSua(false,{})" style="margin-top: auto" color="primary">+ Thêm mới</v-btn>
                    </v-layout>
                </v-flex>
                <v-flex xs12>
                    <v-data-table :headers="tableHeader"
                                  :items="dsDanhMucThietBi"
                                  @update:pagination="getDataFromApi" :pagination.sync="searchParamsDanhMucThietBi"
                                  :total-items="searchParamsDanhMucThietBi.totalItems"
                                  :loading="loadingTable"
                                  class="table-border table">
                        <template slot="items" slot-scope="props">
                            <td>{{ props.index + 1 }}</td>
                            <td>{{ props.item.MaThietBi }}</td>
                            <td>{{ props.item.TenThietBi }}</td>
                            <td>{{ props.item.TenLoaiThietBi }}</td>
                            <td>{{ props.item.DonViTinh }}</td>
                            <td>
                                <v-chip v-for="(i, index) in props.item.MonSuDung" :key="index" color="primary" outline>
                                    {{i}}
                                </v-chip>
                            </td>
                            <td>
                                <v-chip v-for="(i, index) in props.item.KhoiSuDung" :key="index" color="primary" outline>
                                    {{i}}
                                </v-chip>
                            </td>
                            <td class="text-xs-center">
                                <v-icon v-if="props.item.LaThietBiTieuHao" color="green">done</v-icon>
                            </td>
                            <td class="text-xs-center">
                                <v-icon v-if="props.item.LaThietBiTuLam" color="green">done</v-icon> 
                            </td>
                            <td class="text-xs-center" style="width:80px;">
                                <v-btn flat icon small @click="showModalThemSua(true, props.item)" class="ma-0">
                                    <v-icon small>edit</v-icon>
                                </v-btn>
                                <v-btn flat color="red" icon small class="ma-0" @click="confirmDelete(props.item)">
                                    <v-icon small>delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
            <v-dialog v-model="dialogConfirmDelete" max-width="290">
                <v-card>
                    <v-card-title class="headline">Xác nhận xóa</v-card-title>
                    <v-card-text class="pt-3">Bạn có chắc chắn muốn xóa?</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="dialogConfirmDelete=false" flat>Hủy</v-btn>
                        <v-btn color="red darken-1" @click.native="deleteDanhMucThietBi" flat>Xác Nhận</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <them-sua-danh-muc-thiet-bi ref="themSuaDanhMucThietBi" @getLaiDanhSach="getDataFromApi(searchParamsDanhMucThietBi)"></them-sua-danh-muc-thiet-bi>
        </v-layout>
    </v-card>
</template>
<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import DanhMucThietBiApi, { DanhMucThietBiApiSearchParams } from '@/apiResources/DanhMucThietBiApi';
    import { DanhMucThietBi } from '@/models/DanhMucThietBi';
    import ThemSuaDanhMucThietBi from './ThemSuaDanhMucThietBi.vue';
    export default Vue.extend({
        components: {
            ThemSuaDanhMucThietBi
        },
        data() {
            return {
                dsDanhMucThietBi: [] as DanhMucThietBi[],
                tableHeader: [
                    { text: 'STT',  align: 'center', sortable: true },
                    { text: 'Mã thiết bị', align: 'center', sortable: true },
                    { text: 'Tên thiết bị', align: 'center', sortable: true },
                    { text: 'Loại', align: 'center', sortable: true },
                    { text: 'Đơn vị tính', align: 'center', sortable: true },
                    { text: 'Môn áp dụng', align: 'center', sortable: true },
                    { text: 'Khối áp dụng', align: 'center', sortable: true },
                    { text: 'Thiết bị tiêu hao', align: 'center', sortable: true },
                    { text: 'Thiết bị tự làm', align: 'center', sortable: true },
                    { text: 'Thao tác', align: 'center', sortable: false },
                ],
                searchParamsDanhMucThietBi: { includeEntities: true, rowsPerPage: 10 } as DanhMucThietBiApiSearchParams,
                loadingTable: false,
                selectedDanhMucThietBi: {} as DanhMucThietBi,
                dialogConfirmDelete: false,
            }
        },
        watch: {
        },
        created() {
            this.getDataFromApi(this.searchParamsDanhMucThietBi);
        },
        methods: {
            getDataFromApi(searchParamsDanhMucThietBi: DanhMucThietBiApiSearchParams): void {
                this.loadingTable = true;
                DanhMucThietBiApi.search(searchParamsDanhMucThietBi).then(res => {
                    this.dsDanhMucThietBi = res.Data;
                    this.searchParamsDanhMucThietBi.totalItems = res.Pagination.totalItems;
                    this.loadingTable = false;
                });
            },
            showModalThemSua(isUpdate: boolean, item: any) { // refs gọi từ cha -=> con 
                (this.$refs.themSuaDanhMucThietBi as any).show(isUpdate, item); // gọi đến hàm show bên modal con
            },
            confirmDelete(danhMucThietBi: DanhMucThietBi): void {
                this.selectedDanhMucThietBi = danhMucThietBi;
                this.dialogConfirmDelete = true;
            },
            deleteDanhMucThietBi(): void {
                DanhMucThietBiApi.delete(this.selectedDanhMucThietBi.DanhMucThietBiID).then(res => {
                    this.$snotify.success('Xóa thành công!');
                    this.getDataFromApi(this.searchParamsDanhMucThietBi);
                    this.dialogConfirmDelete = false;
                }).catch(res => {
                    this.$snotify.error('Xóa thất bại!');
                });
            },
        }
    });
</script>

