<template>
    <v-dialog v-model="dialog" width="600" persistent scrollable>
        <v-container pa-0 grid-list-md>
            <v-card>
                <v-card-title class="primary white--text" style="padding: 5px 15px 5px 15px">
                    <h3>{{isUpdate ? 'Cập nhật danh mục thiết bị' : 'Thêm mới danh mục thiết bị'}}</h3>
                    <v-spacer></v-spacer>
                    <v-btn class="white--text ma-0" small @click.native="dialog = false" icon dark><v-icon>close</v-icon></v-btn>
                </v-card-title>

                <v-card-text>
                    <v-form scope="frmAddEdit">
                        <v-layout row wrap>
                            <v-flex xs6>
                                <v-text-field v-model="danhMucThietBi.TenThietBi"
                                              label="Tên thiết bị"
                                              type="text"
                                              :error-messages="errors.collect('Tên thiết bị', 'frmAddEdit')"
                                              v-validate="'required'"
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Tên thiết bị"
                                              clearable></v-text-field>
                                <v-spacer></v-spacer>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field v-model="danhMucThietBi.MaThietBi"
                                              label="Mã thiết bị"
                                              type="text"
                                              :error-messages="errors.collect('Mã thiết bị', 'frmAddEdit')"
                                              v-validate="'required'"
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Mã thiết bị"
                                              clearable></v-text-field>
                                <v-spacer></v-spacer>
                            </v-flex>
                            <v-flex xs6>
                                <v-autocomplete v-model="danhMucThietBi.LoaiThietBiID"
                                                :items="dsLoaiThietBi"
                                                item-text="TenLoaiThietBi"
                                                item-value="LoaiThietBiID"
                                                label="Phân loại"
                                                :error-messages="errors.collect('Phân loại', 'frmAddEdit')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEdit"
                                                data-vv-name="Phân loại"
                                                required></v-autocomplete>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field v-model="danhMucThietBi.DonViTinh"
                                              label="Đơn vị vính"
                                              type="text"
                                              :error-messages="errors.collect('Đơn vị vính', 'frmAddEdit')"
                                              v-validate="''"
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Đơn vị vính"
                                              hide-details
                                              clearable></v-text-field>
                            </v-flex>
                            <v-flex xs6>
                                <v-autocomplete v-model="danhMucThietBi.MonApDung"
                                                :items="dsMonHoc"
                                                item-text="TenMon"
                                                item-value="MonHocID"
                                                label="Môn học sử dụng"
                                                :error-messages="errors.collect('Môn học sử dụng', 'frmAddEdit')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEdit"
                                                data-vv-name="Môn học sử dụng" multiple 
                                                required></v-autocomplete>
                            </v-flex>
                            <v-flex xs6>
                                <v-autocomplete v-model="danhMucThietBi.KhoiApDung"
                                                :items="dsKhoiHoc"
                                                item-text="TenKhoi"
                                                item-value="KhoiID"
                                                label="Khối sử dụng"
                                                :error-messages="errors.collect('Khối sử dụng', 'frmAddEdit')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEdit"
                                                data-vv-name="Khối sử dụng" multiple
                                                required></v-autocomplete>
                            </v-flex>
                            <v-flex xs6>
                                <v-checkbox v-model="danhMucThietBi.LaThietBiTieuHao" label="Là thiết bị tiêu hao"
                                            :error-messages="errors.collect('Là thiết bị tiêu hao', 'frmAddEdit')"
                                            v-validate="''" hide-details
                                            data-vv-scope="frmAddEdit"
                                            data-vv-name="Là thiết bị tiêu hao"></v-checkbox>
                            </v-flex>
                            <v-flex xs6>
                                <v-checkbox v-model="danhMucThietBi.LaThietBiTuLam" label="Là thiết bị tự làm"
                                            :error-messages="errors.collect('Là thiết bị tự làm', 'frmAddEdit')"
                                            v-validate="''" hide-details
                                            data-vv-scope="frmAddEdit"
                                            data-vv-name="Là thiết bị tự làm"></v-checkbox>
                            </v-flex>
                            <v-flex xs12>
                                <v-radio-group v-model="danhMucThietBi.LaQuanLyChiTiet" row hide-details>
                                    <v-radio label="Quản lý theo chi tiết" :value="1"></v-radio>
                                    <v-radio label="Quản lý theo số lượng" :value="0"></v-radio>
                                </v-radio-group>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary" :disabled="loading" :loading="loading" @click.native="save" small>{{isUpdate?'Cập nhật':'Thêm mới'}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </v-dialog>

</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import DanhMucThietBiApi, { DanhMucThietBiApiSearchParams, LoaiThietBiApiSearchParams } from '@/apiResources/DanhMucThietBiApi';
    import { DanhMucThietBi } from '@/models/DanhMucThietBi';
    import { LoaiThietBi } from '../../models/LoaiThietBi';
import { MonHoc } from '../../models/MonHoc';
import MonHocApi, { MonHocApiSearchParams } from '../../apiResources/MonHocApi';
import { KhoiHoc } from '../../models/KhoiHoc';
import KhoiHocApi, { KhoiHocApiSearchParams } from '../../apiResources/KhoiHocApi';

    export default Vue.extend({
        $_veeValidate: {
            validator: 'new'
        },
        components: {},
        data() {
            return {
                dialog: false,
                isUpdate: false,
                danhMucThietBi: {} as DanhMucThietBi,
                dsDatDanhMucThietBiLoading: false,
                searchDatDanhMucThietBi: '', 
                loading: false,
                dsLoaiThietBi: [] as LoaiThietBi[],
                searchParamsLoaiThietBi: { rowsPerPage: 0 } as LoaiThietBiApiSearchParams,
                dsMonHoc: [] as MonHoc[],
                searchParamsMonHoc: { rowsPerPage: 0 } as MonHocApiSearchParams,
                dsKhoiHoc: [] as KhoiHoc[],
                searchParamsKhoiHoc: { rowsPerPage: 0 } as KhoiHocApiSearchParams,
                searchParamsDanhMucThietBi: {} as DanhMucThietBiApiSearchParams,
            }
        },
        created() {
            this.getDsLoaiThietBi(this.searchParamsLoaiThietBi);
            this.getDsKhoiHoc(this.searchParamsKhoiHoc);
            this.getDsMonHoc(this.searchParamsMonHoc);
        },
        methods: {
            show(isUpdate: boolean, item: any) {
                this.$validator.errors.clear();
                this.danhMucThietBi = {} as DanhMucThietBi;
                this.dialog = true;
                this.isUpdate = isUpdate;
                if(this.isUpdate)
                    this.getDataFromApi(item.DanhMucThietBiID);
            },
            getDataFromApi(id: number): void {
                DanhMucThietBiApi.detail(id).then(res => {
                    this.danhMucThietBi = res;
                    this.danhMucThietBi.KhoiApDung = (res as any).KhoiSuDung;
                    this.danhMucThietBi.MonApDung = (res as any).MonSuDung;
                });
            },
            getDsLoaiThietBi(searchParamsLoaiThietBiApi: LoaiThietBiApiSearchParams): void {
                DanhMucThietBiApi.getLoaiThietBi(searchParamsLoaiThietBiApi).then(res => {
                    this.dsLoaiThietBi = res.Data;
                });
            },
            getDsMonHoc(searchParamsMonHocApi: MonHocApiSearchParams): void {
                MonHocApi.search(searchParamsMonHocApi).then(res => {
                    this.dsMonHoc = res.Data;
                });
            },
            getDsKhoiHoc(searchParamsKhoiHocApi: KhoiHocApiSearchParams): void {
                KhoiHocApi.search(searchParamsKhoiHocApi).then(res => {
                    this.dsKhoiHoc = res.Data;
                });
            },
            save(): void {
                this.$validator.validateAll('frmAddEdit').then((res) => {
                    if (res) {
                        this.danhMucThietBi.KhoiApDung = this.danhMucThietBi.KhoiApDung.toString();
                        this.danhMucThietBi.MonApDung = this.danhMucThietBi.MonApDung.toString();
                         if (this.isUpdate) {
                            this.loading = true;
                            DanhMucThietBiApi.update(this.danhMucThietBi.DanhMucThietBiID, this.danhMucThietBi).then(res => {
                                this.loading = false;
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.$snotify.success('Cập nhật thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Cập nhật thất bại!');
                            });
                        } else {
                            this.loading = true;
                            DanhMucThietBiApi.insert(this.danhMucThietBi).then(res => {
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.danhMucThietBi = res;
                                this.isUpdate = true;
                                this.loading = false;
                                this.$snotify.success('Thêm mới thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Thêm mới thất bại!');
                            });
                        }
                    }
                });
            }
        }
    });
</script>
<style scoped>
    .v-input--radio-group .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 0px!important;
    }
</style>