<template>
    <v-dialog v-model="dialog" width="300" persistent scrollable>
        <v-container pa-0 grid-list-md>
            <v-card>
                <v-card-title class="primary white--text" style="padding: 5px 15px 5px 15px">
                    <h3>{{isUpdate ? 'Cập nhật lớp học' : 'Thêm mới lớp học'}}</h3>
                    <v-spacer></v-spacer>
                    <v-btn class="white--text ma-0" small @click.native="dialog = false" icon dark><v-icon>close</v-icon></v-btn>
                </v-card-title>

                <v-card-text>
                    <v-form scope="frmAddEdit">
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-text-field v-model="lopHoc.TenLop"
                                              label="Tên lớp"
                                              type="text"
                                              :error-messages="errors.collect('Tên lớp', 'frmAddEdit')"
                                              v-validate="'required'"
                                              data-vv-scope="frmAddEdit"
                                              data-vv-name="Tên lớp"
                                              clearable></v-text-field>
                                <v-spacer></v-spacer>
                            </v-flex> 
                            <v-flex xs12>
                                <v-autocomplete v-model="lopHoc.KhoiID"
                                                :items="dsKhoiHoc"
                                                item-text="TenKhoi"
                                                item-value="KhoiID"
                                                label="Khối học"
                                                :error-messages="errors.collect('Khối học', 'frmAddEdit')"
                                                v-validate="'required'"
                                                data-vv-scope="frmAddEdit"
                                                data-vv-name="Khối học"
                                                required></v-autocomplete>
                            </v-flex> 
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="primary" :disabled="loading" :loading="loading" @click.native="save" small>{{isUpdate?'Cập nhật':'Thêm mới'}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </v-dialog>

</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import LopHocApi, { LopHocApiSearchParams } from '@/apiResources/LopHocApi';
    import { LopHoc } from '@/models/LopHoc'; 
import { KhoiHoc } from '../../models/KhoiHoc';
import KhoiHocApi, { KhoiHocApiSearchParams } from '../../apiResources/KhoiHocApi';

    export default Vue.extend({
        $_veeValidate: {
            validator: 'new'
        },
        components: {},
        data() {
            return {
                dialog: false,
                isUpdate: false,
                lopHoc: {} as LopHoc,
                dsDatLopHocLoading: false,
                searchDatLopHoc: '', 
                loading: false,
                dsKhoiHoc: [] as KhoiHoc[],
                searchParamsKhoiHoc: { rowsPerPage: 0 } as KhoiHocApiSearchParams, 
                searchParamsLopHoc: {} as LopHocApiSearchParams,
            }
        },
        created() {
            this.getDsKhoiHoc(this.searchParamsKhoiHoc);
        },
        methods: {
            show(isUpdate: boolean, item: any) {
                this.$validator.errors.clear();
                this.lopHoc = {} as LopHoc;
                this.dialog = true;
                this.isUpdate = isUpdate;
                if (isUpdate)
                    this.getDataFromApi(item.LopHocID);
            },
            getDataFromApi(id: number): void {
                LopHocApi.detail(id).then(res => {
                    this.lopHoc = res;
                });
            },
            getDsKhoiHoc(searchParamsKhoiHocApi: KhoiHocApiSearchParams): void {
                KhoiHocApi.search(searchParamsKhoiHocApi).then(res => {
                    this.dsKhoiHoc = res.Data;
                });
            },  
            save(): void {
                this.$validator.validateAll('frmAddEdit').then((res) => {
                    if (res) { 
                         if (this.isUpdate) {
                            this.loading = true;
                            LopHocApi.update(this.lopHoc.LopHocID, this.lopHoc).then(res => {
                                this.loading = false;
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.$snotify.success('Cập nhật thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Cập nhật thất bại!');
                            });
                        } else {
                            this.loading = true;
                            LopHocApi.insert(this.lopHoc).then(res => {
                                this.dialog = false;
                                this.$emit("getLaiDanhSach");
                                this.lopHoc = res;
                                this.isUpdate = true;
                                this.loading = false;
                                this.$snotify.success('Thêm mới thành công!');
                            }).catch(res => {
                                this.loading = false;
                                this.$snotify.error('Thêm mới thất bại!');
                            });
                        }
                    }
                });
            }
        }
    });
</script>
<style scoped>
    .v-input--radio-group .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 0px!important;
    }
    .v-input--selection-controls {
        margin-top: 8px!important;
    }
    .v-text-field{
        padding-top: 4px;
    }
</style>