<template>
    <v-card width="100%" style="padding: 20px">
        <v-layout row wrap>
            <v-layout row wrap>
                <v-flex xs12>
                    <h3>Danh sách môn học</h3>
                </v-flex>
                <v-flex xs12>
                    <v-layout norwap>
                        <v-flex xs6 md4>
                            <v-text-field label="Tìm kiếm"
                                          append-icon="search"
                                          placeholder="Tìm kiếm theo tên môn..."
                                          ma-0 pa-0 hide-details
                                          style="padding-top: 12px"
                                          v-model="searchParamsMonHoc.keywords"
                                          @input="getDataFromApi(searchParamsMonHoc)">

                            </v-text-field>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-btn small @click="showModalThemSua(false,{})" style="margin-top: auto" color="primary">+ Thêm mới</v-btn>
                    </v-layout>
                </v-flex>
                <v-flex xs12>
                    <v-data-table :headers="tableHeader"
                                  :items="dsMonHoc"
                                  @update:pagination="getDataFromApi" :pagination.sync="searchParamsMonHoc"
                                  :total-items="searchParamsMonHoc.totalItems"
                                  :loading="loadingTable"
                                  class="table-border table">
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-center">{{ props.index + 1 }}</td>
                            <td class="text-xs-center">{{ props.item.TenMon }}</td>
                            <td class="text-xs-center">
                                <v-icon v-if="props.item.DangSuDung == true" large color="primary" @click="capNhatTrangThai(props.item, false)">toggle_on</v-icon>
                                <v-icon v-else large @click="capNhatTrangThai(props.item, true)" style="opacity: 0.75" >toggle_off</v-icon>
                            </td>
                            <td class="text-xs-center" style="width:150px;">
                                <v-btn flat icon small @click="showModalThemSua(true, props.item)" class="ma-0">
                                    <v-icon small>edit</v-icon>
                                </v-btn>
                                <v-btn flat icon small class="ma-0" @click="confirmDelete(props.item)">
                                    <v-icon color="red" small>delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
            <v-dialog v-model="dialogConfirmDelete" max-width="290">
                <v-card>
                    <v-card-title class="headline">Xác nhận xóa</v-card-title>
                    <v-card-text class="pt-3">Bạn có chắc chắn muốn xóa?</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="dialogConfirmDelete=false" flat>Hủy</v-btn>
                        <v-btn color="red darken-1" @click.native="deleteMonHoc" flat>Xác Nhận</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <them-sua-mon-hoc ref="themSuaMonHoc" @getLaiDanhSach="getDataFromApi(searchParamsMonHoc)"></them-sua-mon-hoc>
        </v-layout>
    </v-card>
</template>
<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import MonHocApi, { MonHocApiSearchParams } from '@/apiResources/MonHocApi';
    import { MonHoc } from '@/models/MonHoc';
    import ThemSuaMonHoc from './ThemSuaMonHoc.vue';
    export default Vue.extend({
        components: {
            ThemSuaMonHoc
        },
        data() {
            return {
                dsMonHoc: [] as MonHoc[],
                tableHeader: [
                    { text: 'STT', align: 'center', sortable: false },
                    { text: 'Tên môn', align: 'center', sortable: false }, 
                    { text: 'Đang theo dõi', align: 'center', sortable: false }, 
                    { text: 'Thao tác', align: 'center', sortable: false },
                ],
                searchParamsMonHoc: { includeEntities: true, rowsPerPage: 10 } as MonHocApiSearchParams,
                loadingTable: false,
                selectedMonHoc: {} as MonHoc,
                dialogConfirmDelete: false,
            }
        },
        watch: {
        },
        created() {
            this.getDataFromApi(this.searchParamsMonHoc);
        },
        methods: {
            getDataFromApi(searchParamsMonHoc: MonHocApiSearchParams): void {
                this.loadingTable = true;
                MonHocApi.search(searchParamsMonHoc).then(res => {
                    this.dsMonHoc = res.Data;
                    this.searchParamsMonHoc.totalItems = res.Pagination.totalItems;
                    this.loadingTable = false;
                });
            },
            capNhatTrangThai(item: MonHoc, isActive: boolean) {
                item.DangSuDung = isActive;
                MonHocApi.update(item.MonHocID, item).then(res => {
                    this.$snotify.success('Cập nhật trạng thái thành công!');
                }).catch(res => {
                    this.$snotify.error('Cập nhật trạng thái thất bại!');
                });
            },
            showModalThemSua(isUpdate: boolean, item: any) { // refs gọi từ cha -=> con 
               (this.$refs.themSuaMonHoc as any).show(isUpdate, item); // gọi đến hàm show bên modal con
            },
            confirmDelete(monHoc: MonHoc): void {
                this.selectedMonHoc = monHoc;
                this.dialogConfirmDelete = true;
            },
            deleteMonHoc(): void {
                MonHocApi.delete(this.selectedMonHoc.MonHocID).then(res => {
                    this.$snotify.success('Xóa thành công!');
                    this.getDataFromApi(this.searchParamsMonHoc);
                    this.dialogConfirmDelete = false;
                }).catch(res => {
                    this.$snotify.error('Xóa thất bại!');
                });
            },
        }
    });
</script>

